@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import url('https://fonts.cdnfonts.com/css/league-mono');
@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #fff;

  --menu: #0f0f0f;

  --gray-1: #5f5f5f;
}

  
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-archivo: "PP Neue Montreal", "sans-serif";
  --font-mono: "League Mono";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 400
}
