
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import url('https://fonts.cdnfonts.com/css/league-mono');

@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #fff;

  --menu: #0f0f0f;

  --gray-1: #5f5f5f;
}

  
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: "PP Neue Montreal";
  --font-mono: "League Mono";

  --tracking-one: 0.01em;
  --tracking-two: 0.02em;
  --tracking-three: 0.03em;
  --tracking-four: 0.04em;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 400;
  overflow-x:hidden;

  text-rendering: optimizeLegibility;

}
